@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #f3f4f6;
}

#colorInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
#colorInput::-webkit-color-swatch {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 50%;
  shape-outside: circle();
  clip-path: circle();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
